{% extends '@Diplom/layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link  rel="stylesheet" type="text/css" href="{{ asset('css/image-picker.css') }}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>
                Працівники
            <span class="navbar-right">
                <a href="javascript:void(0);" data-toggle="modal" data-target="#modal-add">
                    <i class="fa fa-plus"></i>
                </a>
            </span>
            </h1>
        </div>

        <div class="container bootstrap snippet">
            <div class="modal fade bs-example-modal-lg" id="modal-info" tabindex="-1">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                            <h4 class="modal-title">Інформація про клієнта</h4>
                        </div>
                        <div class="modal-body">
                            <div class="panel-body inf-content">
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-1">
                                        <img alt="user-image"
                                             style="width:600px;"
                                             class="img-circle img-thumbnail isTooltip"
                                             id="modal-info-image"
                                             src="#" data-original-title="Usuario">
                                        <ul title="Ratings" class="list-inline ratings text-center">
                                            <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                                            <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                                            <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                                            <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                                            <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="table-responsive">
                                            <table class="table table-condensed table-responsive table-user-information">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-user  text-primary"></span>
                                                            Ім’я
                                                        </strong>
                                                    </td>
                                                    <td id="modal-info-name" class="text-primary">
                                                        Михайло
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-cloud text-primary"></span>
                                                            Прізвище
                                                        </strong>
                                                    </td>
                                                    <td id="modal-info-surname" class="text-primary">
                                                        Петров
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-cloud text-primary"></span>
                                                            Дата народження
                                                        </strong>
                                                    </td>
                                                    <td id="modal-info-birthdate" class="text-primary">
                                                        29.09.1993
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                                            Телефон
                                                        </strong>
                                                    </td>
                                                    <td id="modal-info-phone" class="text-primary">
                                                        1234567890123
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-bookmark text-primary"></span>
                                                            Логін
                                                        </strong>
                                                    </td>
                                                    <td id="modal-info-login" class="text-primary">
                                                        bootnipets
                                                    </td>
                                                </tr>


                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-envelope text-primary"></span>
                                                            Email
                                                        </strong>
                                                    </td>
                                                    <td id="modal-info-email" class="text-primary">
                                                        noreply@email.com
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-calendar text-primary"></span>
                                                            Створено
                                                        </strong>
                                                    </td>
                                                    <td id="modal-info-created" class="text-primary">
                                                        20.06.2016
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-calendar text-primary"></span>
                                                            Змінено
                                                        </strong>
                                                    </td>
                                                    <td id="modal-info-updated" class="text-primary">
                                                        20.06.2016 20:00:00
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade bs-example-modal-lg" id="modal-add" tabindex="-1">
                <div class="modal-dialog modal-lg" role="document">
                    <form action="{{ path('user.add') }}" method="POST" class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">Додати клієнта</h4>
                        </div>
                        <div class="modal-body">
                            <div class="panel-body inf-content">
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <select title="Select your surfboard" class="selectpicker image-picker show-html">
                                            <option>Select...</option>
                                            {% for key, image in images %}
                                                <option data-img-src="{{ asset(image) }}" value="{{ image }}">{{ key }}</option>
                                            {% endfor %}
                                        </select>
                                        <input type="hidden" name="image" id="image-add">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="table-responsive">
                                            <table class="table table-condensed table-responsive table-user-information">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-user  text-primary"></span>
                                                            Ім’я
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        <input class="form-control" type="text" name="name">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-cloud text-primary"></span>
                                                            Прізвище
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        <input class="form-control" type="text" name="surname">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-cloud text-primary"></span>
                                                            Дата народження
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        <input class="form-control date-picker" type="text" name="birthdate">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                                            Телефон
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        <input class="form-control" type="number" name="phone">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-bookmark text-primary"></span>
                                                            Логін
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        <input class="form-control" type="text" name="login">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-envelope text-primary"></span>
                                                            Email
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        <input class="form-control" type="email" name="email">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-lock text-primary"></span>
                                                            Пароль
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        <input class="form-control" type="text" name="password">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Зберегти</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Відмінити</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal fade bs-example-modal-lg" id="modal-edit" tabindex="-1">
                <div class="modal-dialog modal-lg" role="document">
                    <form method="POST" action="{{ path('user.edit.save', {'id': ':user_id'}) }}" class="modal-content" id="modal-edit-form">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">Додати клієнта</h4>
                        </div>
                        <div class="modal-body">
                            <div class="panel-body inf-content">
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <select title="Select your surfboard" class="selectpicker image-picker show-html">
                                            <option>Select...</option>
                                            {% for key, image in images %}
                                                <option data-img-src="{{ asset(image) }}" value="{{ image }}">{{ key }}</option>
                                            {% endfor %}
                                        </select>
                                        <input type="hidden" name="image" id="image-edit">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="table-responsive">
                                            <table class="table table-condensed table-responsive table-user-information">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-user  text-primary"></span>
                                                            Ім’я
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        <input id="modal-edit-name" class="form-control" type="text" name="name">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-cloud text-primary"></span>
                                                            Прізвище
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        <input id="modal-edit-surname" class="form-control" type="text" name="surname">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-cloud text-primary"></span>
                                                            Дата народження
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        <input id="modal-edit-birthdate" class="form-control date-picker" type="text" name="birthdate">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                                            Телефон
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        <input id="modal-edit-phone" class="form-control" type="text" name="phone">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-bookmark text-primary"></span>
                                                            Логін
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        <input id="modal-edit-login" class="form-control" type="text" name="login">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-envelope text-primary"></span>
                                                            Email
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        <input id="modal-edit-email" class="form-control" type="email" name="email">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-lock text-primary"></span>
                                                            Пароль
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        <input class="form-control" type="text" name="password">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Зберегти</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Відмінити</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="main-box no-header clearfix">
                        <div class="main-box-body clearfix">
                            <div class="table-responsive">
                                {#<div class="count">#}
                                    {#Всьго: {{ users.getTotalItemCount }}#}
                                {#</div>#}
                                <table class="table user-list">
                                    <thead>
                                    <tr>
                                        <th><span>Ім’я</span></th>
                                        <th><span>Дата створення</span></th>
                                        {#<th class="text-center"><span>Посада</span></th>#}
                                        <th><span>Email</span></th>
                                        <th>&nbsp;</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td>
                                                <img src="{{ asset(user.getImage()) }}" class="img-circle width-80" alt="">
                                                <a href="#" class="user-link">{{ user.getName() }}</a>
                                                <span class="user-subhead"> ({{ user.username }}) </span>
                                            </td>
                                            <td>{{ user.created | date('d-m-Y') }}</td>
                                            {#<td class="text-center">#}
                                                {#<span class="label label-default">pending</span>#}
                                            {#</td>#}
                                            <td>
                                                <a href="javascript:void(0);">{{ user.email }}</a>
                                            </td>
                                            <td style="width: 20%;">
                                                <a href="javascript:void(0);"
                                                   onclick="application.getUserInfo({{ user.id }});"
                                                   class="table-link">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>

                                                <a href="javascript:void(0);"
                                                   onclick="application.editUserInfo({{ user.id }});"
                                                   class="table-link">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>

                                                <a href="{{ path('user.remove', {'id': user.id}) }}" class="table-link danger">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="navigation">
                                    {{ knp_pagination_render(users) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/image-picker.js') }}"></script>
    <script>
        var application = {
            'addModal': $('#modal-add'),
            'infoModal': $('#modal-info'),
            'editModal': $('#modal-edit')
        };

        application.getUserInfo = function(id) {
            var promise = $.ajax({
                'type': 'GET',
                'url': '/user/edit/' + id
            });

            promise.done(function(response) {
                var user = response.user;

                $('#modal-info-name').text(user.name);
                $('#modal-info-surname').text(user.surname);
                $('#modal-info-birthdate').text(user.birthdate);
                $('#modal-info-phone').text(user.phone);
                $('#modal-info-login').text(user.login);
                $('#modal-info-email').text(user.email);
                $('#modal-info-created').text(user.created);
                $('#modal-info-updated').text(user.updated);
                $('#modal-info-image').attr('src', user.image);
                application.infoModal.modal();
            });
        };

        application.editUserInfo = function(id) {
            var promise = $.ajax({
                'type': 'GET',
                'url': '/user/edit/' + id
            });

            promise.done(function(response) {
                var user = response.user;
                var form = $('#modal-edit-form');
                var action = form.attr('action');

                form.attr('action', action.replace(':user_id', id));
                $('#modal-edit-name').val(user.name);
                $('#modal-edit-surname').val(user.surname);
                $('#modal-edit-birthdate').val(user.birthdate);
                $('#modal-edit-phone').val(user.phone);
                $('#modal-edit-login').val(user.login);
                $('#modal-edit-email').val(user.email);
                application.editModal.modal();

                application.editModal.on('hide.bs.modal', function () {
                    form.attr('action', action);
                });
            });
        };

        application.addModal.on('show.bs.modal', function () {
            $('.selectpicker').imagepicker({
                hide_select : true,
                show_label  : false,
                selected: function(option){
                    var value = this.val();
                    $("#image-add").val(value);
                }
            });

            $(this).find('.date-picker').datepicker();
        });

        application.editModal.on('show.bs.modal', function () {
            $('.selectpicker').imagepicker({
                hide_select : true,
                show_label  : false,
                selected: function(option){
                    var value = this.val();
                    $("#image-edit").val(value);
                }
            });

            $(this).find('.date-picker').datepicker();
        });

    </script>
{% endblock %}