{% extends '@Diplom/layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link  rel="stylesheet" type="text/css" href="{{ asset('css/image-picker.css') }}">
{% endblock %}

{% block content %}
    <div class="col-md-10 col-md-offset-1">
        <h1>
            Клієнти
            <span class="navbar-right">
                <a href="#" data-toggle="modal" data-target="#modallAdd" data-whatever="@getbootstrap">
                    <i class="fa fa-plus"></i>
                </a>
            </span>
        </h1>
    </div>


    <div class="container bootstrap snippet">
        <div class="modal fade bs-example-modal-lg" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Інформація про клієнта</h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel-body inf-content">
                            <div class="row">
                                <div class="col-md-4 col-md-offset-1">
                                    <img alt="" id="avatarInfo" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" data-original-title="Usuario">
                                    <ul title="Ratings" class="list-inline ratings text-center">
                                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <div class="table-responsive">
                                        <table class="table table-condensed table-responsive table-user-information">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <strong>
                                                        <span class="glyphicon glyphicon-user  text-primary"></span>
                                                        Ім’я
                                                    </strong>
                                                </td>
                                                <td class="text-primary">
                                                    <input type="text" id="nameI" disabled>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>
                                                        <span class="glyphicon glyphicon-cloud text-primary"></span>
                                                        Прізвище
                                                    </strong>
                                                </td>
                                                <td class="text-primary">
                                                    <input type="text" id="lastnameI" disabled>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>
                                                        <span class="glyphicon glyphicon-cloud text-primary"></span>
                                                        Дата народження
                                                    </strong>
                                                </td>
                                                <td class="text-primary">
                                                    <input type="text" id="birthI" disabled>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>
                                                        <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                                        Телефон
                                                    </strong>
                                                </td>
                                                <td class="text-primary">
                                                    <input type="text" id="phoneI" disabled>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <strong>
                                                        <span class="glyphicon glyphicon-bookmark text-primary"></span>
                                                        Логін
                                                    </strong>
                                                </td>
                                                <td class="text-primary">
                                                    <input type="text" id="loginI" disabled>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>
                                                        <span class="glyphicon glyphicon-envelope text-primary"></span>
                                                        Email
                                                    </strong>
                                                </td>
                                                <td class="text-primary">
                                                    <input type="text" id="emailI" disabled>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>
                                                        <span class="glyphicon glyphicon-calendar text-primary"></span>
                                                        Створено
                                                    </strong>
                                                </td>
                                                <td class="text-primary">
                                                    <input type="text" id="createdI" disabled>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>
                                                        <span class="glyphicon glyphicon-calendar text-primary"></span>
                                                        Змінено
                                                    </strong>
                                                </td>
                                                <td class="text-primary">
                                                    <input type="text" id="updatedI" disabled>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg" id="modallAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <form action="{{ path('client.add') }}" method="post" class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Додати клієнта</h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel-body inf-content">
                            <div class="row">
                                <div  class="js-form">
                                    <div class="col-md-6 ">
                                        <select title="Select your surfboard" class="selectpicker image-picker show-html">
                                            <option>Select...</option>
                                            {% for key, image in images%}
                                                <option data-img-src="{{ asset(image) }}" value="{{ image }}">{{ key }}</option>
                                            {% endfor %}
                                        </select>
                                        <input type="hidden" name="image" id="image">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="table-responsive">
                                            <table class="table table-condensed table-responsive table-user-information">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-user  text-primary"></span>
                                                            Ім’я
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        <input class="form-control" type="text" name="name">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-cloud text-primary"></span>
                                                            Прізвище
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        <input class="form-control" type="text" name="lastname">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-cloud text-primary"></span>
                                                            Дата народження
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        <input class="form-control" type="text" name="birth">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                                            ІПН
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        <input class="form-control" type="number" name="ipn">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-bookmark text-primary"></span>
                                                            Логін
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        <input class="form-control" type="text" name="login">
                                                    </td>
                                                </tr>


                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                                            Роль
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        <input class="form-control" type="text" name="user_type" disabled value="client">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-envelope text-primary"></span>
                                                            Email
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        <input class="form-control" type="email" name="email">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success jsSubmit">Зберегти</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Відмінити</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg" id="modallEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Редагувати клієнта</h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel-body inf-content">
                            <div class="row">
                                <form action="" method="post" id="form-edit" class="js-form">
                                    <div class="col-md-6 ">
                                        <select title="Select your surfboard" id="imageS" class="selectpicker image-picker show-html">
                                            <option>Select...</option>
                                            {% for key, image in images%}
                                                <option data-img-src="{{ asset(image) }}" value="{{ image }}">{{ key }}</option>
                                            {% endfor %}
                                        </select>
                                        <input type="hidden" name="image" id="imageE">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="table-responsive">
                                            <table class="table table-condensed table-responsive table-user-information">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-user  text-primary"></span>
                                                            Ім’я
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        <input class="form-control" type="text" id="name" name="name">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-cloud text-primary"></span>
                                                            Прізвище
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        <input class="form-control" type="text" id="lastname" name="lastname">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-cloud text-primary"></span>
                                                            Дата народження
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        <input class="form-control" type="text" id="birth" name="birth">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                                            Телефон
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        <input class="form-control" type="number" id="phone" name="ipn">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-bookmark text-primary"></span>
                                                            Логін
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        <input class="form-control" type="text" id="login" name="login">
                                                    </td>
                                                </tr>


                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                                            Роль
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        <input class="form-control" type="text" name="user_type" disabled value="client">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            <span class="glyphicon glyphicon-envelope text-primary"></span>
                                                            Email
                                                        </strong>
                                                    </td>
                                                    <td class="text-primary">
                                                        <input class="form-control" type="email" id="email" name="email">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success jsSubmit" data-dismiss="modal">Зберегти</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Відмінити</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="main-box no-header clearfix">
                    <div class="main-box-body clearfix">
                        <div class="table-responsive">
                            <table class="table user-list">
                                <thead>
                                <tr>
                                    <th><span>Ім’я</span></th>
                                    <th><span>Дата створення</span></th>
                                    <th class="text-center"><span>Статус</span></th>
                                    <th><span>Email</span></th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for client in clients %}
                                    <tr>
                                        <td>
                                            <img src="{{ asset(client.getImage()) }}" class="img-circle width-80" alt="">
                                            <a href="#" class="user-link">{{ client.getName() }}</a>
                                            <span class="user-subhead">Member</span>
                                        </td>
                                        <td>{{ client.getCreateed()|date('d-m-Y') }}</td>
                                        <td class="text-center">
                                            <span class="label label-default">pending</span>
                                        </td>
                                        <td>
                                            <a href="#">{{ client.getEmail() }}</a>
                                        </td>
                                        <td style="width: 20%;">
                                            <a href="#" class="table-link infoClient" data-id="{{ client.getId() }}">
                                                {#{{ path('diplom_client_edit', client.getId()) }}#}
                                                <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                                            </span>
                                            </a>
                                            <a href="#" class="table-link editClient" data-id="{{ client.getId() }}">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                                            </a>
                                            <a href="{{ path('client.remove', {'id': client.getId()}) }}" class="table-link danger">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                            </span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/image-picker.js') }}"></script>
        <script>
            $(document).ready(function () {
                $('#modallAdd').on('shown.bs.modal', function () {
                    $('.selectpicker').imagepicker({
                        hide_select : true,
                        show_label  : false,
                        selected: function(option){
                            var value = this.val();
                            $("#image").val(value);
                        }
                    });

                });

//                $('#jsSubmit').on('click',function () {
//                    $('#js-form-add').submit();
//                })
            });

//            $('.jsSubmit').on('click',function () {
//                $('.js-form').submit();
//            });

            $('.editClient').on('click', function () {
                var id = $(this).attr('data-id');
                var url = '/client/edit/'+id;
                $('#form-edit').attr('action', url);
                $.ajax({
                    method: "GET",
                    url: url
                })
                        .done(function( response ) {
                            var result = response['result'];
                            $('#name').val(result.name);
                            $('#email').val(result.email);
                            $('#imageS').val(result.image);
                            $('#imageE').val(result.image);
                            $('#birth').val(result.birth);
                            $('#lastname').val(result.lastname);
                            $('#phone').val(result.phone);
                            $('#modallEdit').modal();
                            $('#modallEdit').on('shown.bs.modal', function () {
                                $('.selectpicker').imagepicker({
                                    hide_select : true,
                                    show_label  : false,
                                    selected: function(option){
                                        var value = this.val();
                                        $("#image").val(value);
                                    }
                                });
                                $('.selectpicker').data('picker').sync_picker_with_select();
                            });
                        });
            });

            $('.infoClient').on('click', function () {
                 var id = $(this).attr('data-id');
                 var url = '/client/info/'+id;
                 $.ajax({
                     method: "GET",
                     url: url
                 })
                         .done(function( response ) {
                             var result = response['result'];
                             $('#nameI').val(result.name);
                             $('#emailI').val(result.email);
                             $('#avatarInfo').attr('src', '/'+result.image);
                             $('#birthI').val(result.birth);
                             $('#lastnameI').val(result.lastname);
                             $('#phoneI').val(result.phone);
                             $('#createdI').val(result.created);
                             $('#updatedI').val(result.updated);
                             $('#modalInfo').modal();
                             $('#modalInfo').on('shown.bs.modal', function () {
                                 $('.selectpicker').imagepicker({
                                     hide_select : true,
                                     show_label  : false,
                                     selected: function(option){
                                         var value = this.val();
                                         $("#image").val(value);
                                     }
                                 });
                                 $('.selectpicker').data('picker').sync_picker_with_select();
                             });
                         });
            });

            $('.removeClient').on('click', function () {
                var id = $(this).attr('data-id');
                var url = '/client/remove/'+id;
                $.ajax({
                    method: "GET",
                    url: url
                })
            });

        </script>
    {% endblock %}
{% endblock %}